

.container-contactus {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/mousepad.jpg');
}

form {
    max-width: 550px;
    width: 90%;
    background: transparent url('images/mousepad.jpg');
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box; 
}

#form-header {
    margin: 0;
    text-align: center;
}

.container-contactus label {
    display: block;
    margin: 20px 0;
}

input, textarea { 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

input[type="text"]:focus, textarea:focus {
    border-bottom: 1px solid #2e2e2e;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(102, 3, 124, 1);
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 80px;
    background: linear-gradient(to right, rgba(38,201,19,1) 18%, rgba(102,3,124,1) 66%);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: chartreuse;
}